<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PMS | Project Management System</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
   </head>
<body>
<div>
    <h1 style="height: 1rem;background-color: red;"></h1>
    <div class="container-fluid px-5 py-3">
        <div>
            <label for="search_name">{{message}}</label>
            <input type="text" name="search_name" id="search_name" ng-model="search_name">
        </div>

        <table class="table table-borderless table-hover container-fluid" id="search_table" style="display: none;">
            <thead>
                <tr>
                    <th>Eid</th>
                    <th>name</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>testcases</th>
                    <th>Experience</th>
                    <th>salary</th>
                </tr>
            </thead>
            <tbody ng-repeat="emp in employees | filter: search_name">
                <tr>
                    <td>{{emp.Eid}}</td>
                    <td>{{emp.name | uppercase}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.phone}}</td>
                    <td>{{emp.testcases}}</td>
                    <td>{{emp.Experience}}%</td>
                    <td>{{emp.salary | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>